[package]
name = "providers"
version = "0.1.0"
edition.workspace = true
publish.workspace = true
license = "GPL-3.0-or-later"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
http_client.workspace = true
serde.workspace = true
serde_json.workspace = true
smol.workspace = true
